@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.CodeAnalysis.Scripting
@model Human_Resource_Generator.ViewModels.EmployeeViewModels.EmployeeDetailViewModel

@{
    ViewBag.Title = "title";

    int ScoreCal(int TraininProgramId, int EmployeeId)
    {
        var score = 0;
        
        return score;
    }
}

<h4>Employee Detail</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label asp-for="Code" class="control-label">Number</label>
            <input  class="form-control" disabled="disabled" value="@Model.Code"/>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input  class="form-control" disabled="disabled" value="@Model.Name"/>
        </div>
        <div class="form-group">
            <label asp-for="Position" class="control-label"></label>
            <input  class="form-control" disabled="disabled" value="@Model.Position"/>
        </div>
        <div class="form-group">
            <label asp-for="DateOfBirth" class="control-label">Birthday</label>
            <input  class="form-control" disabled="disabled" value="@DateTime.Now.ToString(Model.DateOfBirth.ToString("dd/MM/yyyy"))"/>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="control-label"></label>
            <input class="form-control" disabled="disabled" value="@Model.Status" />
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input class="form-control" disabled="disabled" value="@Model.Description" />
        </div>
        <br />
        <div class="form-group">
            <label class="control-label" style="font-size: 20px; font-weight: bold;">Training Program</label>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Time</th>
                    <th>Teacher</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var training in Model.EmployeeTrainings){
                    <tr>
                        <td>@training.TrainingProgram.Id.ToString()</td>
                        <td>@training.TrainingProgram.Name</td>
                        <td>@training.TrainingProgram.Description</td>
                        <td>@training.TrainingProgram.CreatedAt.ToString("dd/MM/yyyy")</td>
                        <td>@training.TrainingProgram.Teacher</td>
                        <td id="status-@training.Id">@(Model.Score.First(s =>s.Key == training.TrainingProgramId).Value >= 70 ? "Pass" : "Fail")</td>
                    </tr>
                }
                </tbody>
            </table>
           
                
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
           $('td[id^="status-"]').each(function() {
               let cellText = $(this).html();  
               let thisId = $(this).attr("id").slice(7,);
               if (cellText === "Pass") {
                   $("#status-" + thisId).addClass("text-success");
                   $("#status-" + thisId).removeClass("text-danger");
               }
               else{
                   $("#status-" + thisId).removeClass("text-success");
                   $("#status-" + thisId).addClass("text-danger");
               }
           });
        })
    </script>
}


