@model List<EmployeeTraining>
<br />
<h1 class="display-4">SEDV Training Program</h1>
<div text-end>
    <a asp-controller="Generator" asp-action="Create" class="btn btn-primary">
        <i class="bi bi-people"></i> New Employee
    </a>

</div>
<br />
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Department</th>
                <th>Birthday</th>
                <th>Training</th>
                <th>Room</th>
                <th>Date Of Training</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employeeTraining in Model)
            {
                <tr>
                    <td width="5%">@employeeTraining.Employee.employee_id</td>
                    <td width="16%">@employeeTraining.Employee.employee_name</td>
                    <td width="14%">@employeeTraining.Employee.employee_department</td>
                    <td width ="14%">@employeeTraining.Employee.date_of_birth.ToShortDateString()</td>
                    <td width ="14%">@employeeTraining.TrainingProgram.program_name</td>
                    <td width="14%">@employeeTraining.TrainingProgram.program_description</td>
                    <td width="14%">@employeeTraining.TrainingProgram.date_of_program.ToShortDateString()</td>
                </tr>
            }
        </tbody>

    </table>
</div>
