@model Human_Resource_Generator.ViewModels.TrainingProgramViewModel.AttendanceViewModel

@{
    ViewData["Title"] = "Attendance";
    var totalEmployee = ViewData["totalEmployee"];

    int ScoreCalculator(int employeeId)
    {
        var score = 0;
        foreach (var att in Model.Attendances)
        {
            var currentEmployeeAttendance = att.AttendanceEmployees.FirstOrDefault(attE => attE.EmployeeId == employeeId);
            if (currentEmployeeAttendance?.Score != null)
            {
                score = (int)currentEmployeeAttendance.Score;
            }
        }
        return score;
    }

    int EmployeeAttendanceCal()
    {
        if (Model.Attendances.Any())
        {
            return Model.Attendances.Max(att => att.AttendanceEmployees.Count());
        }

        return 0;
    }
}

<h1>Attendance</h1>

<div>
    <h4>Training Program</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Teacher
        </dt>
        <dd class="col-sm-10">
            <span style="white-space: pre-line">@Model.Teacher</span>
        </dd>
        <dt class="col-sm-2">
            Created At
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedAt.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            Actual number of participants
        </dt>
        <dd class="col-sm-10">
            @EmployeeAttendanceCal() / @totalEmployee
        </dd>
    </dl>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h4>List joined employee </h4>
        </div>
        <div class="col-md-8 text-end">
            <button class="btn btn-success btn-sm" id="exportToExcel">Export To Excel</button>
            <a asp-action="DownloadFormTemplate" class="btn btn-secondary btn-sm">Download Form Template</a>
            <a asp-action="CreateAttendance" asp-route-id="@Model?.Id" class="btn btn-sm btn-primary">Take Attendance</a>
            <a asp-action="CreateAttendanceByScanner" asp-route-id="@Model?.Id" class="btn btn-sm btn-info">Scan for Attendance</a>
        </div>
    </div>
    <table class="table" id="dataTable">
        <thead>
            <tr>
                <th>
                    Code
                </th>
                <th>
                    Name
                </th>
                 <th>
                   Score
                 </th>
                @foreach(var item in Model.Attendances)
                {
                    <th>
                        @item.AttendanceDate.ToShortDateString()
                        <a asp-action="UpdateAttendance" asp-route-id="@item.Id" title="Update Attendance"><i class="bi bi-pencil"></i></a>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.JoinedEmployees)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @ScoreCalculator(item.Id)
                    </td>
                    @foreach (var att in Model.Attendances)
                    {
                        <td>
                        @if (Model.JoinedEmployeeWithDate.Where(x => x.JoinedDate == att.AttendanceDate && item.Id == x.EmployeeId).Any())
                        {
                            <span class="text-success">
                                @Model.JoinedEmployeeWithDate.Where(x => x.JoinedDate == att.AttendanceDate && item.Id == x.EmployeeId).Select(x => x.AttendanceAt).FirstOrDefault().ToShortDateString()
                            </span>
                        } else
                        {
                            <span class="text-danger">Miss</span>
                        }
                        </td>
                    }
                    
                </tr>
            }
            @if (Model.JoinedEmployees.Count == 0)
            {
                <tr class="text-center">
                    <td colspan="4">
                        <i>There are no employees involved</i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#exportToExcel").click(function () {
                let id = "dataTable";
                let name = "data";
                var tab_text = '<html xmlns:x="urn:schemas-microsoft-com:office:excel">';
                tab_text += '<head><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet>';

                tab_text += '<x:Name>Bảng ghi chép hướng dẫn 指示シート</x:Name>';
                tab_text += '<x:WorksheetOptions><x:Panes></x:Panes></x:WorksheetOptions></x:ExcelWorksheet>';
                tab_text += '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
                tab_text += '<div style="font-family: Times New Roman; padding: 0; margin:0;">';
                tab_text += '<h1>Bảng ghi chép hướng dẫn 指示シート</h1>';
                tab_text += '<h4 style="font-size:20px;">- Thời gian: @Model.CreatedAt.ToShortDateString()</h4>';
                tab_text += '<h4 style="font-size:20px;">- Hạng mục カテゴリー: @Model.Name</h4>';
                tab_text += '<h4 style="font-size:20px;">- Người hướng dẫn インストラクター: @Html.Raw(Model.Teacher)</h4>';
                tab_text += '<h4 style="font-size:20px;">- Description: @Model.Description</h4>';
                tab_text += '</div>';
                tab_text += '<div style="margin-bottom: 10px; font-weight: normal; font-family: Times New Roman;font-size: 16px;">';
                tab_text += '<h4 style="margin: 0; line-height: 1.2;">Tài liệu hướng dẫn:</h4>';
                tab_text += '<p style="margin: 0; font-size: 16px; line-height: 1.2;">1. Nội quy Lao động công ty (ban hành lần 4) được phê duyệt bởi Ban quản lý các khu Công nghiệp Đồng Nai ngày 30/3/2021</p>';
                tab_text += '<p style="margin: 0; font-size: 16px; line-height: 1.2;">2. Thông báo nội dung</p>';
                tab_text += '<p style="margin: 0; font-size: 16px; line-height: 1.2;">Nội quy Lao động:</p>';
                tab_text += '<p style="margin: 0; font-size: 16px; line-height: 1.2;">Cam kết:</p>';
                tab_text += '<ul style="margin: 10px; padding-left: 20px;font-size: 16px;">';
                tab_text += '<li>Được đọc, hướng dẫn và hiểu rõ nội quy</li>';
                tab_text += '<li>Nghiêm túc tuân thủ các qui định của nội quy này</li>';
                tab_text += '<li>Không tham gia vào các cuộc định công bất hợp pháp</li>';
                tab_text += '</ul>';
                tab_text += '</div>';
                tab_text += '<p></p>'
                tab_text += "<table border='1px' style='color: black; font-family: Times New Roman;font-size: 16px;'>";

                var exportTable = $('#' + id).clone();
                exportTable.find('input').remove();
                exportTable.find('a').remove();

                // Add new column header
                var newHeader = "<th>Result</th>";
                var indexHeader = "<th>STT</th>";
                exportTable.find('thead tr').append(newHeader);
                exportTable.find('thead tr').prepend(indexHeader);

                // Add new column data
                var index = 0;
                exportTable.find('tbody tr').each(function () {
                    var score = $(this).find('td:eq(3)').text();
                    var result = score >= 70 ? "Pass" : "Fail";
                    $(this).append("<td>" + result + "</td>");
                    $(this).prepend("<td>" + (++index) + "</td>");
                });

                tab_text += exportTable.html();
                tab_text += '</table></body></html>';
                var fileName = "Attendance.xls";

                // Save the file
                var blob = new Blob([tab_text], { type: "application/vnd.ms-excel;charset=utf-8" });
                saveAs(blob, fileName);

            });
        });
    </script>
    <!-- Include jQuery if not already included -->


    <script>
        $(document).ready(function () {
            $("#exportFormExcel").click(function () {
                $.ajax({
                    url: '@Url.Action("DownloadFormTemplate", "TrainingPrograms")', // Update with the correct controller and action names
                    type: 'GET',
                    success: function () {
                        alert('Excel template file generated successfully.');
                    },
                    error: function () {
                        alert('Error generating Excel template file.');
                    }
                });
            });
        });
    </script>




}





