@model Human_Resource_Generator.ViewModels.TrainingProgramViewModel.AttendanceViewModel

@{
    ViewData["Title"] = "Attendance";
}

<h1>Attendance</h1>

<div>
    <h4>Training Program</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Teacher
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher)
        </dd>
        <dt class="col-sm-2">
            Created At
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            Updated At
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <h4>List joined employee </h4>
        </div>
        <div class="col-md-4 text-end">
            <button class="btn btn-success btn-sm" id="exportToExcel">Export To Excel</button>
            <a asp-action="CreateAttendance" asp-route-id="@Model?.Id" class="btn btn-sm btn-primary">Create new Attendance day</a>
        </div>
    </div>
    <table class="table" id="dataTable">
        <thead>
            <tr>
                <th>
                    Code
                </th>
                <th>
                    Name
                </th>
                @foreach(var item in Model.Attendances)
                {
                    <th>@item.AttendanceDate.ToShortDateString()</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.JoinedEmployees)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    @foreach (var att in Model.Attendances)
                    {
                        <td>
                        @if (Model.JoinedEmployeeWithDate.Where(x => x.JoinedDate == att.AttendanceDate && item.Id == x.EmployeeId).Any())
                        {
                                <span class="text-success">Joined</span>
                        } else
                        {
                                <span class="text-danger">Miss</span>
                        }
                        </td>
                    }
                    
                </tr>
            }
            @if (Model.JoinedEmployees.Count == 0)
            {
                <tr class="text-center">
                    <td colspan="4">
                        <i>There are no employees involved</i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
<script src="~/js/FileSaver.js"></script>
<script>
        $("#exportToExcel").click(function(){
            let id = "dataTable";
            let name = "data";
            var tab_text = '<html xmlns: x="urn:schemas-microsoft-com:office:excel"><head><xml><x: ExcelWorkbook><x: ExcelWorksheets><x: ExcelWorksheet><x: Name>Attendance</x: Name><x: WorksheetOptions><x: Panes></x: Panes></x: WorksheetOptions ></x: ExcelWorksheet ></x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body><table border="1px" style="color:black">';


            var exportTable = $('#' + id).clone();
            exportTable.find('input').each(function (index, elem) { $(elem).remove(); });
            exportTable.find('a').each(function (index, elem) { $(elem).remove(); });

            tab_text = tab_text + exportTable.html();
            tab_text = tab_text + '</table></body></html>';
            var fileName = "Attendance" + '.xls';

            //Save the file
            var blob = new Blob([tab_text], { type: "application/vnd.ms-excel;charset=utf-8" })
            window.saveAs(blob, fileName);
        })
</script>
}
