@model IEnumerable<Human_Resource_Generator.Models.TrainingProgram>

@{
    ViewData["Title"] = "Index";
    var totalEmployee = ViewData["totalEmployee"];

    int CountActualEmplloyees(TrainingProgram trainingProgram)
    {
        if (trainingProgram.Attendances.Any())
        {
            return trainingProgram.Attendances.Max(att => att.AttendanceEmployees.Count);
        }
        return 0;
    }
}

<h1>Training Programs</h1>

<div style="display: flex; justify-content: space-between; margin:20px 0">
    <button class="btn btn-primary">
        <a asp-action="Create" class="text-decoration-none text-white">Create New</a>
    </button>
     <div style="width: fit-content; margin-left: auto">
         <form asp-action="Index" method="post" class="d-flex justify-content-center align-items-center">
             <input name="name" type="text" placeholder="Search..." style="margin: 0 3px"/>
               <input type="submit" value="Search" class="btn btn-primary" style="padding: 0 15px"/>
         </form>
     </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Teacher
        </th>
        <th>
            Created At
        </th>
        <th>
            Actual number of employees
        </th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td class="teacher-cell">
                @item.Teacher
            </td>
            <td>
                @item.CreatedAt.ToShortDateString()
            </td>
            <td>
                    @CountActualEmplloyees(item) / @item.EmployeeTrainings.Count 
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a> | 
                <a asp-action="Attendance" asp-route-id="@item.Id" class="btn btn-sm btn-success">Attendance</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<style>
    input
    {
        outline: none;
        height: 35px;
        border-radius:5px;
        border: 1px solid #adb5bd;
        padding-left: 10px;
    }
    
    input[type="text"]
    {
       width: 250px;
    }
</style>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".teacher-cell").each(function(){
                let newContentArray = $(this).text().split(",");
                let newText = "";
                for (let i = 0; i < newContentArray.length; i++) {
                    newText += newContentArray[i] + "<br>";
                }
                $(this).html(newText);
            })
        })
    </script>
}
