@model IEnumerable<Human_Resource_Generator.Models.TrainingProgram>

@{
    ViewData["Title"] = "Index";
}

<h1>Training Programs</h1>

<div style="display: flex; justify-content: space-between; margin:20px 0">
    <button class="btn btn-primary">
        <a asp-action="Create" class="text-decoration-none text-white">Create New</a>
    </button>
     <div style="width: fit-content; margin-left: auto">
         <form asp-action="Index" method="post" class="d-flex justify-content-center align-items-center">
             <input name="name" type="text" placeholder="Search..." style="margin: 0 3px"/>
               <input type="submit" value="Search" class="btn btn-primary" style="padding: 0 15px"/>
         </form>
     </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Teacher
        </th>
        <th>
            Created At
        </th>
        <th>
            Updated At
        </th>
        <th>
            Number joined employee
        </th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeTrainings.Count)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a> | 
                <a asp-action="Attendance" asp-route-id="@item.Id" class="btn btn-sm btn-success">Attendance</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<style>
    input
    {
        outline: none;
        height: 35px;
        border-radius:5px;
        border: 1px solid #adb5bd;
        padding-left: 10px;
    }
    
    input[type="text"]
    {
       width: 250px;
    }
</style>
